<div class="videonavbar twelve columns">
<ul class="videonavbar-list">
	<li><a href="#1"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#2"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#3"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#4"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#5"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#6"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#7"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#8"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#9"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#10"> {% image video1.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#11"> {% image video1.jpg class="videonavbar-img" %} </a></li>
</ul>
</div>